<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ravi de vous accueillir, qui que vous soyez !</h2>
                <p class="lead">Actuellement en Licence Professionnelle Activités et Techniques de Communication, j'ai acquis ces dernières années les bases et compétences nécessaires dans les différents domaines du multimédia. Qu'il s'agisse de tourner et monter votre prochaine vidéo corporate, de réaliser un support print, d'actualiser un WordPress ou créer un site vitrine, je suis là pour vous aider !</p>
            </div>
        </div>
    </div>
</section>
